<div class="jumbotron">
  <h1>Welcome <%= current_user.username %>!</h1>
  <div class="text-center">
    <%= link_to "Log out", destroy_user_session_path, :method => :delete %> |
    <%= link_to "Profile Page", "/profile"%> |
    <%= link_to "Index", "/queries" %> |
    <%= link_to "Analytics Dashboard", "/dashboard"%>
  </div>
</div>

<div class="panel">
  <h3>Questions You Posed</h3>
  <div class="well">
    <% unless @mine == [] %>
      <% @mine.each do |q| %>
      <div>
        <a class="question" href="/queries/<%= q.id %>"><%= q.question %></a> 
      </div>
      <% end %>
    <% end %>
  </div>
  <div>
  <%= link_to "Ask a New Question!", new_query_path, :class => "btn btn-default" %>
</div>
</div>

<div class="panel">
  <h3>Unanswered Questions</h3>

<div class="well">
  <% @queries.each do |q| %>  
    <% unless q.answered_users.include?(current_user)%>
      <div>
      
      <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-default"><%= button_to " Yea", query_yea_path(q.id), :method => "patch", :action => "yea" %></button>
        <button type="button" class="btn btn-default"><%= button_to " Nay", query_nay_path(q.id), :method => "patch", :action => "nay" %></button>
      </div>
      <a class="question" href="/queries/<%= q.id %>"><%= q.question %></a>
    <% end %>
  <% end %>
</div>
</div>

