<p id="notice"><%= notice %></p>

<p> This successfully renders </p>

<%= link_to "New Question", new_query_path %>

<h3>All Questions</h3>

<% @queries.each do |q| %>
  
    <%= q.question %>
  <% unless q.answered_users.include?(current_user)%>
    <%= button_to q.yea.to_s + " Yea", query_yea_path(q.id), :method => "patch", :action => "yea" %>
    <%= button_to q.nay.to_s + " Nay", query_nay_path(q.id), :method => "patch", :action => "nay" %><br>
  <% end %>
  <% end %>


  <h3>My Questions</h3>
<% unless @mine == [] %>
  <% @mine.each do |q| %>
  <%= q.question %>
<br>
  <% end %>
<% end %>

<h3>Other People's Questions</h3>
<% unless @others == [] %>
  
  <% @others.each do |q| %>
  <%= q.question %>
<br>
<% end %>
<% end %>


