<div class="jumbotron">
  <h1><%= @query.question %></h1>
  <div class="text-center">
    <%= link_to "Log out", destroy_user_session_path, :method => :delete %> |
    <%= link_to "Profile Page", "/profile"%> |
    <%= link_to "Index", "/queries" %> |
    <%= link_to "Analytics Dashboard", "/dashboard"%>
  </div>
</div>

<div class="well">
  <h3 class="text-center"><span id="yea_label">Yea Votes: <span id="yea_count"><%= @query.yea %></span></span></h3>
</div>
<div class="container">
  <canvas id="yea_vs_nay"></canvas>
</div>
<div class="well">
  <h3 class="text-center"><span id="nay_label">Nay Votes: <span id="nay_count"><%= @query.nay %></span></span></h3>
</div>
<% if current_user %>
  <% if @query.user_id == current_user.id %>
    <div class="well">
      <%= link_to 'Destroy', @query, method: :delete, data: { confirm: 'Are you sure you want to destroy this question?'}, :class => "question" %> 
    </div>
  <% end %>
<% end %>
